<div class="container">
  <div class="social-icons" *ngIf="isMobile" style="margin-left: 5px">
    <div class="button">
      <div class="icon"><i class="bx bxl-facebook"></i></div>
      <span>Facebook</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-linkedin"></i></div>
      <span>Linkedin</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-github"></i></div>
      <span>Github</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-twitter"></i></div>
      <span>Twitter</span>
    </div>
  </div>
  <div class="home">
    <h1 class="name">Hey, I'm Pasindu Lakmal</h1>
    <div class="info">
      <p>
        I am a passionate and dedicated Full Stack Engineer with a strong
        foundation in computer science principles and hands-on experience in
        coding, debugging, and developing software solutions. With proficiency
        in languages such as Java, Python, and JavaScript, I am adept at
        problem-solving and eager to contribute to innovative projects.
      </p>
    </div>
    <div class="btn">
      <button mat-raised-button color="primary">Projects</button>
    </div>
  </div>
</div>
