<div class="container">
  <div class="projectContainer">
    <h2 class="heading">
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >Projects</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Here you will find some of the personal projects on that I worked with
        their source codes and git links.
      </span>
    </h2>

    <div *ngFor="let project of projects">
      <mat-divider></mat-divider>
      <app-project-items Responsive>
        <div class="slideshow-container" *ngIf="project.images">
          <div
            *ngFor="let image of project.images; let i = index"
            [ngClass]="{ active: i === project.currentImageIndex }"
            class="mySlides fade"
          >
            <img
              [src]="image"
              alt="Software Screenshot"
              class="projectsRowImg"
              loading="lazy"
            />
          </div>
          <a class="prev" (click)="plusSlides(project, -1)">&#10094;</a>
          <a class="next" (click)="plusSlides(project, 1)">&#10095;</a>
        </div>
        <h3
          class="projectsRowContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="120"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          {{ project.name }}
        </h3>
        <p
          class="projectsRowContentDesc"
          data-aos="fade-left"
          data-aos-delay="150"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          {{ project.description }}
        </p>
        <div
          class="tools"
          data-aos="zoom-in-left"
          data-aos-delay="190"
          data-aos-duration="500"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="toolsName" *ngFor="let tool of project.technologies">
            {{ tool | uppercase }}
          </div>
        </div>
        <button
          mat-raised-button
          class="livBtn"
          (click)="projectOpen(project.id)"
        >
          GitHub Link
        </button>
      </app-project-items>
    </div>
  </div>
</div>
